.btn-box {
    background-color: #cbf3f0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    width: 100vh;
    height: 100vh;
}

.btn {
    border: 0;
    background: #7b2cbf;
    border-radius: 8px;
    box-shadow: 0 5px 0 #240046;
    color: #eae2b7;
    cursor: pointer;
    margin: 0;
    font-size: large;
    font-weight: bold;
    outline: 0;
    padding: 12px 20px;
    transition: all .1s linear;
}

button:active {
    box-shadow: 0 2px 0 #006599;
    transform: translateY(3px);
}